$font-stack: "roboto", sans-serif;
$text-decoration: none;
$color-1: #000000;
$color-2: #ffffff;
$grey-light: #F6F6F6;
$grey-medium: #EAEAEA;
$grey-dark: #353535;
$grey-border: lightgrey;
$purple:#9356DC;
$pink:#FF79DA;
$green-light:#99E2D0;
$green:#008766;
$blue-light:#89C8FA;
$blue-dark:#003A68;
$linear-gardient:linear-gradient(to top, $purple, $pink);

$width:100%;
$border-radius-2: 20px;
$padding-2: 20px;

* {
  font-family: $font-stack;
}

a {
  text-decoration: $text-decoration;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: $green-light;
}

@media (max-width: 767.99px) {

.body-menu {
  margin: 0px;
}

.container-menu {
  overflow: hidden;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 24px;

  .icone-coeur {
    float: right;
    margin: 10px;
    border: none;
    background-color: $grey-light;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;

    i {
      position: absolute;
      font-size: 22px;
      transition: opacity 0.3s ease;
    }

    .coeur-plein {
      color: $purple;
      opacity: 0;
    }

    .coeur-vide {
      color: black;
      opacity: 1;
    }
  }

  input[type="checkbox"]:checked + .icone-coeur {
    .coeur-plein {
      opacity: 1;
    }
    .coeur-vide {
      opacity: 0;
    }
  }
}

.main-menu {
  background-color: $grey-light;
  border-top-left-radius: $border-radius-2;
  border-top-right-radius: $border-radius-2;
  padding: $padding-2;
}

.header-menu {
  display: flex;
  flex-direction: column;
}

.logo-menu {
  width: 50%;
  text-align: center;
  padding: $padding-2;
  padding-left: 100px;
}

.image-menu {
  width: $width;
  height: 150px;
  display: block;
  object-fit: cover;
}

.section-choix {
  display: flex;
  flex-direction: column;
  gap: 20px;

.btn-choix {
  width: $width;
  height: 80px;
  border-radius: $border-radius-2;
  text-align: left;
  padding-left: $padding-2;
  background-color: $color-2;
  border: none;


h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

span {
  position: relative;
  float: right;
  bottom: 30px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
}
}

.section-commander {
  display: flex;
  justify-content: center;
  padding: 50px;

.btn-commander {
  border-radius:40px;
  border: none;
  width: 70%;
  height:50px;
  background: linear-gradient(to top, $purple, $pink);
  color: $color-2;

  span {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &:hover span {
      transform: translateY(-6px);
    }
  }
}



.footer-menu {
  background-color: $grey-dark;

  .font-logo-rest {
    font-family: shrikhand, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    padding: 10px;
    margin: 5px;
  }

  .icone-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer-content-m {
    display: flex;
    flex-direction: column;

    p {
      color: white;
      margin: 5px;
    }

    a { text-decoration: none;
    }
  }
}
}

@media (max-width:1440px) and (min-width:768px) {
.body-menu {
  margin: 0px;
}

.container-menu {
  overflow: hidden;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  .icone-coeur {
    margin: 10px;
    border: none;
    background-color: $grey-light;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;

    i {
      position: absolute;
      font-size: 22px;
      transition: opacity 0.3s ease;
    }

    .coeur-plein {
      color: $purple;
      opacity: 0;
    }

    .coeur-vide {
      color: black;
      opacity: 1;
    }
  }

  input[type="checkbox"]:checked + .icone-coeur {
    .coeur-plein {
      opacity: 1;
    }
    .coeur-vide {
      opacity: 0;
    }
  }
}

.main-menu {
  background-color: $grey-light;
  border-top-left-radius: $border-radius-2;
  border-top-right-radius: $border-radius-2;
  padding: $padding-2;
  margin: 60px;
}

.header-menu {
  display: flex;
  flex-direction: column;
}

.logo-menu {
  width: 30%;
  text-align: center;
  padding: $padding-2;
  padding-left: 350px;
}

.image-menu {
  width: $width;
  height: 250px;
  display: block;
  object-fit: cover;
}

.section-choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

.btn-choix {
  width: 70%;
  height: 80px;
  border-radius: $border-radius-2;
  text-align: left;
  padding-left: $padding-2;
  background-color: $color-2;
  border: none;

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

span {
  position: relative;
  float: right;
  bottom: 30px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
  }
 }
}

.section-commander {
  display: flex;
  justify-content: center;
  padding: 50px;

.btn-commander {
  border-radius:40px;
  border: none;
  width: 30%;
  height:50px;
  background: linear-gradient(to top, $purple, $pink);
  color: $color-2;

span {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

&:hover span {
  transform: translateY(-6px);
  }
}
}



.footer-menu {
  background-color: $grey-dark;

.font-logo-rest {
  font-family: shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  padding: 10px;
}

.icone-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.desktop-footer-m {
  display: flex;
  padding: 30px;
}

.footer-content-m {
  display: flex;
  flex-direction: row-reverse;

  p {
    color: white;
  }

  a { 
    text-decoration: none;
  }
}
}
}