$font-stack: "roboto", sans-serif;
$text-decoration: none;
$color-1: #000000;
$color-2: #ffffff;
$grey-light: #F6F6F6;
$grey-medium: #EAEAEA;
$grey-dark: #353535;
$grey-border: lightgrey;
$purple:#9356DC;
$pink:#FF79DA;
$green-light:#99E2D0;
$green:#008766;
$blue-light:#89C8FA;
$blue-dark:#003A68;
$linear-gardient:linear-gradient(to top, $purple, $pink);

$width:100%;
$border-radius-2: 1.25rem;
$padding-1: 10px;
$padding-2: 1.25rem;
$gap-2: 1.25rem;

* {
  font-family: $font-stack;
}

a {
  text-decoration: $text-decoration;
}

h2 {
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: $green-light;
  padding-right: 62%;
}


@media (max-width: 767.99px) {

.body-menu {
  margin: 0rem;
}

.container-menu {
  overflow: hidden;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.5rem;

  .icone-coeur {
    float: right;
    margin: 10px;
    border: none;
    background-color: $grey-light;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    i {
      position: absolute;
      font-size: 22px;
      transition: opacity 0.3s ease;
    }

    .coeur-plein {
      color: $purple;
      opacity: 0;
    }

    .coeur-vide {
      color: black;
      opacity: 1;
    }
  }

  input[type="checkbox"]:checked + .icone-coeur {
    .coeur-plein {
      opacity: 1;
    }
    .coeur-vide {
      opacity: 0;
    }
  }
}

.main-menu {
  background-color: $grey-light;
  border-top-left-radius: $border-radius-2;
  border-top-right-radius: $border-radius-2;
  padding: $padding-2;
}

.header-menu {
 text-align: center;
}

.btn-retour {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.logo-menu {
width: 50%;
padding: $padding-1;
}

.image-menu {
  width: $width;
  height: 150px;
  display: block;
  object-fit: cover;
}

.section-choix {
  display: flex;
  flex-direction: column;
  gap: $gap-2;

.btn-choix {
  position: relative;
  gap: $gap-2;
  cursor: pointer;
  width: 95%;
  height: 5rem;
  border-radius: $border-radius-2;
  padding-left: $padding-2;
  background-color: $color-2;
  border: none;

  .toggle-check {
    display: none;
  }


.btn-choix-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  gap: $gap-2;
  
h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

.prix-zone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(15px);
  transition: transform 0.3s ease; opacity: 0.3 ease;

.prix-valide {
  position: relative;
  font-weight: bold;
  font-size: 14px; 
  min-width: 5rem;
  top: 1.25rem;
}

.icone-check-wrapper {
  position: absolute;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 5rem;
  border-radius: 15px;
  background-color: $green-light;
  opacity: 0;
  transform: translateX(15px);
  transition: all 0.3s ease;

.icone-check {
  font-size: 18px;
  color: $color-2;
}
}
}

      &:hover .icone-check-wrapper,
      &:hover .prix-zone {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .toggle-check:checked + .btn-choix-wrapper .icone-check-wrapper {
      opacity: 1;
      transform: translateX(0);
    }

      .toggle-check:checked + .btn-choix-wrapper .prix-zone {
      transform: translateX(-15px);
    }
 }
}

.section-commander {
  display: flex;
  justify-content: center;
  padding: 50px;

.btn-commander {
  border-radius:40px;
  border: none;
  width: 70%;
  height:50px;
  background: linear-gradient(to top, $purple, $pink);
  color: $color-2;

  span {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &:hover span {
      transform: translateY(-6px);
    }
  }
}

.footer-menu {
  background-color: $grey-dark;

  .font-logo-rest {
    font-family: shrikhand, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    padding: $padding-1;
    margin: 5px;
  }

  .icone-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer-content-m {
    display: flex;
    flex-direction: column;

    p {
      color: white;
      margin: 5px;
    }

    a { text-decoration: none;
    }
  }
}
}


@media (min-width:768px) {
.body-menu {
  margin: 0rem;
}

.container-menu {
  overflow: hidden;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  .icone-coeur {
    margin: 10px;
    border: none;
    background-color: $grey-light;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    i {
      position: absolute;
      font-size: 22px;
      transition: opacity 0.3s ease;
    }

    .coeur-plein {
      color: $purple;
      opacity: 0;
    }

    .coeur-vide {
      color: black;
      opacity: 1;
    }
  }

  input[type="checkbox"]:checked + .icone-coeur {
    .coeur-plein {
      opacity: 1;
    }
    .coeur-vide {
      opacity: 0;
    }
  }
}

.main-menu {
  background-color: $grey-light;
  border-top-left-radius: $border-radius-2;
  border-top-right-radius: $border-radius-2;
  padding: $padding-2;
  margin: 60px;
}

.header-menu {
text-align: center;
}

.btn-retour {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}

.logo-menu {
  width: 20%;
  padding: $padding-2;
}

.image-menu {
  width: $width;
  height: 250px;
  display: block;
  object-fit: cover;
}

.section-choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-2;

.btn-choix {
  width: 70%;
  height: 5rem;
  border-radius: $border-radius-2;
  text-align: left;
  padding-left: $padding-2;
  background-color: $color-2;
  border: none;

.toggle-check {
  display: none;
}

.btn-choix-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  gap: $gap-2;

h3 {
  font-size: 1rem;
}

p {
  font-size: 14px;
}

.prix-zone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(15px);
  transition: transform 0.3s ease; opacity: 0.3 ease;

.prix-valide {
  position: relative;
  font-weight: bold;
  font-size: 14px; 
  min-width: 5rem;
  top: 1.25rem;
}

.icone-check-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -15px;
  width: 60px;
  height: 5rem;
  border-radius: 15px;
  background-color: $green-light;
  opacity: 0;
  transform: translateX(15px);
  transition: all 0.3s ease;

.icone-check {
  font-size: 18px;
  color: $color-2;
}
}
}

&:hover .icone-check-wrapper,
&:hover .prix-zone {
  opacity: 1;
  transform: translateX(0);
}
}

.toggle-check:checked + .btn-choix-wrapper .icone-check-wrapper {
  opacity: 1;
  transform: translateX(0);
}

.toggle-check:checked + .btn-choix-wrapper .prix-zone {
  transform: translateX(-15px);
}
}
}

.section-commander {
  display: flex;
  justify-content: center;
  padding: 50px;

.btn-commander {
  border-radius:40px;
  border: none;
  width: 30%;
  height:50px;
  background: linear-gradient(to top, $purple, $pink);
  color: $color-2;

span {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

&:hover span {
  transform: translateY(-6px);
  }
}
}



.footer-menu {
  background-color: $grey-dark;

.font-logo-rest {
  font-family: shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  margin: 5px;
}

.icone-footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.desktop-footer-m {
  display: flex;
  padding: 30px;
}

.footer-content-m {
  display: flex;
  flex-direction: row-reverse;

  p {
    color: white;
    padding: $padding-1;
  }

  a { 
    text-decoration: none;
  }
}
}
}