* {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

.style-m {
  display: flex;
}

@media (max-width: 767.99px) {
  .body-menu {
    margin: 0rem;
  }
  .container-menu {
    overflow: hidden;
  }
  h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: #99E2D0;
  }
  h1 {
    font-family: Shrikhand, sans-serif;
    font-size: 1.5rem;
  }
  h1 .icone-coeur {
    float: right;
    margin: 10px;
    border: none;
    background-color: #F6F6F6;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }
  h1 .icone-coeur i {
    position: absolute;
    font-size: 22px;
    transition: opacity 0.3s ease;
  }
  h1 .icone-coeur .coeur-plein {
    color: #9356DC;
    opacity: 0;
  }
  h1 .icone-coeur .coeur-vide {
    color: black;
    opacity: 1;
  }
  h1 input[type=checkbox]:checked + .icone-coeur .coeur-plein {
    opacity: 1;
  }
  h1 input[type=checkbox]:checked + .icone-coeur .coeur-vide {
    opacity: 0;
  }
  .main-menu {
    background-color: #F6F6F6;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 1.25rem;
  }
  .header-menu {
    text-align: center;
  }
  .btn-retour {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
  }
  .logo-menu {
    width: 50%;
    padding: 10px;
  }
  .image-menu {
    width: 100%;
    height: 150px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-choix {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .section-choix .btn-choix {
    position: relative;
    gap: 1.25rem;
    cursor: pointer;
    width: 95%;
    height: 5rem;
    border-radius: 1.25rem;
    padding-left: 1.25rem;
    background-color: #ffffff;
    border: none;
  }
  .section-choix .btn-choix .toggle-check {
    display: none;
  }
  .section-choix .btn-choix .btn-choix-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    gap: 1.25rem;
  }
  .section-choix .btn-choix .btn-choix-wrapper h3 {
    font-size: 14px;
  }
  .section-choix .btn-choix .btn-choix-wrapper p {
    font-size: 12px;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: translateX(15px);
    transition: transform 0.3s ease;
    opacity: 0.3 ease;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .prix-valide {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    min-width: 5rem;
    top: 1.25rem;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .icone-check-wrapper {
    position: absolute;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 5rem;
    border-radius: 15px;
    background-color: #99E2D0;
    opacity: 0;
    transform: translateX(15px);
    transition: all 0.3s ease;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .icone-check-wrapper .icone-check {
    font-size: 18px;
    color: #ffffff;
  }
  .section-choix .btn-choix .btn-choix-wrapper:hover .icone-check-wrapper, .section-choix .btn-choix .btn-choix-wrapper:hover .prix-zone {
    opacity: 1;
    transform: translateX(0);
  }
  .section-choix .btn-choix .toggle-check:checked + .btn-choix-wrapper .icone-check-wrapper {
    opacity: 1;
    transform: translateX(0);
  }
  .section-choix .btn-choix .toggle-check:checked + .btn-choix-wrapper .prix-zone {
    transform: translateX(-15px);
  }
  .section-commander {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .section-commander .btn-commander {
    border-radius: 40px;
    border: none;
    width: 70%;
    height: 50px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    color: #ffffff;
  }
  .section-commander .btn-commander span {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .section-commander .btn-commander:hover span {
    transform: translateY(-6px);
  }
  .footer-menu {
    background-color: #353535;
  }
  .footer-menu .font-logo-rest {
    font-family: shrikhand, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
  }
  .footer-menu .icone-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-menu .footer-content-m {
    display: flex;
    flex-direction: column;
  }
  .footer-menu .footer-content-m p {
    color: white;
    margin: 5px;
  }
  .footer-menu .footer-content-m a {
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .body-menu {
    margin: 0rem;
  }
  .container-menu {
    overflow: hidden;
  }
  h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: #99E2D0;
    width: 70%;
  }
  h1 {
    font-family: Shrikhand, sans-serif;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  h1 .icone-coeur {
    margin: 10px;
    border: none;
    background-color: #F6F6F6;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }
  h1 .icone-coeur i {
    position: absolute;
    font-size: 22px;
    transition: opacity 0.3s ease;
  }
  h1 .icone-coeur .coeur-plein {
    color: #9356DC;
    opacity: 0;
  }
  h1 .icone-coeur .coeur-vide {
    color: black;
    opacity: 1;
  }
  h1 input[type=checkbox]:checked + .icone-coeur .coeur-plein {
    opacity: 1;
  }
  h1 input[type=checkbox]:checked + .icone-coeur .coeur-vide {
    opacity: 0;
  }
  .main-menu {
    background-color: #F6F6F6;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 1.25rem;
    margin: 60px;
  }
  .header-menu {
    text-align: center;
  }
  .btn-retour {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
  }
  .logo-menu {
    width: 20%;
    padding: 1.25rem;
  }
  .image-menu {
    width: 100%;
    height: 250px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-choix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  .section-choix .btn-choix {
    width: 70%;
    height: 5rem;
    border-radius: 1.25rem;
    text-align: left;
    padding-left: 1.25rem;
    background-color: #ffffff;
    border: none;
  }
  .section-choix .btn-choix .toggle-check {
    display: none;
  }
  .section-choix .btn-choix .btn-choix-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    gap: 1.25rem;
  }
  .section-choix .btn-choix .btn-choix-wrapper h3 {
    font-size: 1rem;
  }
  .section-choix .btn-choix .btn-choix-wrapper p {
    font-size: 14px;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: translateX(15px);
    transition: transform 0.3s ease;
    opacity: 0.3 ease;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .prix-valide {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    min-width: 5rem;
    top: 1.25rem;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .icone-check-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -15px;
    width: 60px;
    height: 5rem;
    border-radius: 15px;
    background-color: #99E2D0;
    opacity: 0;
    transform: translateX(15px);
    transition: all 0.3s ease;
  }
  .section-choix .btn-choix .btn-choix-wrapper .prix-zone .icone-check-wrapper .icone-check {
    font-size: 18px;
    color: #ffffff;
  }
  .section-choix .btn-choix .btn-choix-wrapper:hover .icone-check-wrapper, .section-choix .btn-choix .btn-choix-wrapper:hover .prix-zone {
    opacity: 1;
    transform: translateX(0);
  }
  .section-choix .btn-choix .toggle-check:checked + .btn-choix-wrapper .icone-check-wrapper {
    opacity: 1;
    transform: translateX(0);
  }
  .section-choix .btn-choix .toggle-check:checked + .btn-choix-wrapper .prix-zone {
    transform: translateX(-15px);
  }
  .section-commander {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .section-commander .btn-commander {
    border-radius: 40px;
    border: none;
    width: 30%;
    height: 50px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    color: #ffffff;
  }
  .section-commander .btn-commander span {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .section-commander .btn-commander:hover span {
    transform: translateY(-6px);
  }
  .footer-menu {
    background-color: #353535;
  }
  .footer-menu .font-logo-rest {
    font-family: shrikhand, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin: 5px;
  }
  .footer-menu .icone-footer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .footer-menu .desktop-footer-m {
    display: flex;
    padding: 30px;
  }
  .footer-menu .footer-content-m {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-menu .footer-content-m p {
    color: white;
    padding: 10px;
  }
  .footer-menu .footer-content-m a {
    text-decoration: none;
  }
}/*# sourceMappingURL=menu-style.css.map */